---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CustomTabs from '../components/vue/CustomTabs.vue';
import PickerColorImage from '../components/vue/PickerColorImage.vue';
import GettingColors from '../components/vue/GettingColors.vue';
import ColorPallete from '../components/vue/ColorPallete.vue';
---

<Layout title="What Is This Color">
	<main class="container mx-auto px-5">
		<!-- Sección presentación de opciones -->
		<section class="my-20">
			<article class="text-lg">
				<h1 class="text-4xl font-bold text-slate-600">Cuál es este color</h1>
				<p class="text-slate-500">Elige alguna de las 3 opciones que necesites:</p>
	
				<div>
					<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
						<Card
							title="Seleccionar color de una imagen"
							description="Obten el color de alguna sección en concreto de la imagen que tu cargues."
						/>
						<Card
							title="Color Hexadecimal, RGB y HSL"
							description="Busca un color y obten su valor hexadecimal, RGB y HSL."
						/>
						<Card
							title="Paleta de colores"
							description="Si tienes un color en mente y quieres ver una paleta de colores basada en ese color, puedes hacerlo."
						/>
					</div>
				</div>
			</article>
		</section>

		<!-- Sección Tab con las 3 opciones -->
		<section class="mb-20">
			<CustomTabs client:visible>
				<PickerColorImage client:only="vue" slot="tab-1" />
				<GettingColors client:only="vue" slot="tab-2" />
				<ColorPallete client:only="vue" slot="tab-3" />
			</CustomTabs>
		</section>
	</main>
</Layout>
