---
import { Image } from 'astro:assets';
import logoImg from '../assets/img/logo.png';
---

<header class="w-full drop-shadow-sm border-2 bg-white">
  <div class="container mx-auto flex justify-between items-center p-3">
    <div class="cursor-pointer">
      <Image src={logoImg} alt="Logo IMG." class="w-28" loading="eager"/>
    </div>

    <!-- ícono para cambiar entre modo claro y oscuro -->
    <button class="drop-shadow-sm">
      <img class="w-8 hover-change-colo-svg" src="src/assets/icons/SunHigh.svg" alt="Sun Icon" />
    </button>
  </div>
</header>

<style>
.hover-change-colo-svg:hover {
  filter: invert(63%) sepia(64%) saturate(527%) hue-rotate(169deg) brightness(101%) contrast(88%);
}
</style>